// Back Button

.back-btn{
    background: $grey-1;
    transition: $transition;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;

    &:hover{
        background: $grey-2;
    }

    svg,img{
        width: 20px;
        height: 20px;
    }
}