// Bottom Toolbar
.bottom-toolbar{
    width: 100%;
    position: fixed;
    bottom: -100%;
    display: flex;
    justify-content: space-between;
    background: $white;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.11);
    transition: $transition;

    &.open{
        bottom: 0;
    }

    .actions{
        display: flex;
        align-items: center;

        .action{
            transition: $transition;
            cursor: pointer;
            background: transparent;
            color: $black;
            padding: 30px;
            display: flex;
            align-items: center;

            &:hover{
                color: $blue;
                background-color: $off-white;
            }

            svg{
                width: 19px;
                height: 19px;
                margin-right: 10px;
            }
        }
    }

    .cancel{
        transition: $transition;
        cursor: pointer;
        background: transparent;
        color: $grey-4;
        padding: 30px;
        display: flex;
        align-items: center;

        &:hover{
            color: $black;
            background-color: $off-white;
        }

        svg{
            width: 19px;
            height: 19px;
            margin-right: 10px;
        }
    }
}