// Button Group

.btn-group{
    display: flex;
    align-items: center;

    > button, > a, > div{
        margin-left: 10px !important;
        border-radius: 3px !important;

        &:first-child{
            margin-left: 0 !important;
        }
    }
}