//Button
button, .btn {
    font-size: 16px;
    border: 1px solid $grey-1;
    background-color: $grey-1;
    padding: 10px 15px;
    border-radius: 3px;
    color: #000;
    transition: $transition;
    box-shadow: none !important;
    line-height: normal;
    outline: none !important;

    &:hover {
        background-color: $off-white;
    }

    &.btn-primary {
        background-color: $blue;
        border-color: $blue;
        color: $white;

        &:hover {
            background-color: $hover-blue !important;
            border-color: $hover-blue !important;
        }
    }

    &.btn-cancel {
        background-color: $white;
        border-color: $white;
        color: $grey-4;

        &:hover {
            background-color: $off-white !important;
            border-color: $off-white !important;
        }
    }

    &.icon-btn {
        display: flex;
        align-items: center;

        span{
            color: inherit;
            line-height: normal;
        }

        svg:first-child, img:first-child {
            width: 19px;
            height: 19px;
            margin-right: 7px;
        }
    }
}
