//Checkbox

label.checkbox {
    display: inline-block;
    position: relative;
    padding-right: 31px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-top: -6px;
    outline: none;
    
    &:hover input ~ .checkmark {
        background-color: $grey-2;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;

        &:checked ~ .checkmark{
            background-color: $blue;

            &:after {
                opacity: 1;
                visibility: visible;
                transition-delay: 50ms;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: $grey-1;
        border: 1px solid $grey-2;
        transition: background-color 300ms $easing;
        border-radius: 3px;
        
        &:after {
            content: "";
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transform-origin: center;
            transition: $transition;
            left: 6px;
            top: 2px;
            width: 5px;
            height: 9px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}