// Dropdown
.dropdown {

    &.open {
        > button:not(.btn-primary) {
            background-color: $off-white;

            .caret-down {
                transform: rotate(180deg);
            }
        }
    }

    // Toggle
    .dropdown-toggle {
        border: 1px solid $grey-2;
        background-color: $grey-1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: $transition;
        text-align: left;

        &:hover{
            border-color: $grey-3;
        }

        .caret-down {
            transform-origin: center;
            transition: $transition;
            height: 19px;
            width: 19px;
            margin-left: 5px;
            margin-right: -5px;
        }
    }
    
    // Dropdown Menu
    .dropdown-menu {
        padding: 0;
        border: 1px solid $grey-2;
        box-shadow: $shadow-md;

        .item {
            transition: $transition;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 20px 40px 20px 20px;
            color: #000;
            font-size: 16px;
            background: $off-white;

            &:first-child {
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
            }

            &:last-child {
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            input[type="checkbox"] {
                width: 20px;
                height: 20px;
                margin: 3px 10px 0 0;
            }

            &:hover {
                background: $grey-1;
            }

            img, svg {
                width: 30px;
                height: 30px;
            }

            .item-label {
                width: max-content;
            }

            label.radio{
                pointer-events: none;
            }
        }

        .dropdown-actions {
            display: flex;
            border-top: 1px solid $grey-1;

            .action {
                text-align: center;
                color: $blue;
                cursor: pointer;
                flex: 1;
                padding: 10px 5px;
                border-left: 1px solid $grey-1;
                transition: $transition;
                &:hover {
                    background: $off-white;
                }
                &:first-child {
                    border-left: none;
                }
            }
        }
    }
} 