// Info Group Container

.info-group-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;

    .info-group-col .info-group{
        margin-bottom: 30px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

@media(max-width: 1200px){
    .info-group-container{
        grid-column-gap: 20px;
    
        .info-group-col {
            margin-bottom: 20px;
        }
    }
}

@media(max-width: 990px){
    .info-group-container{
        grid-template-columns: repeat(1, 1fr);
    
        .info-group-col .info-group{
            margin-bottom: 20px;
    
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

// Info Group 

.info-group{
    
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $grey-1;
        color: $grey-4;
        padding: 10px;

        .header-label{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-size: 13px;
            border-top-right-radius: 3px; 
            border-top-left-radius: 3px;
    
            svg, img{
                margin-right: 10px;
                width: 16px;
                height: 16px;
            }
        }

        .header-actions{
            color: $blue;
            display: flex;
            align-items: center;

            svg, img{
                cursor: pointer;
                transition: $transition;
                width: 20px;
                height: 20px;
                margin-left: 10px;

                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }

    .data-collection{
        background-color: $off-white;
        padding: 15px 15px 15px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        & > *:last-child{
            margin-bottom: 5px;
        }

        input[type="text"], .dropdown-toggle, textarea{
            border-color: $grey-3;
            background-color: $white;
            width: 100%;

            &:hover, &:active, &:focus {
                background-color: $white;
            }
        }

        textarea{
            min-height: 150px;
        }
    }
}