// Input Group

.input-group{
    display: flex;
    align-items: flex-start;

    .input-wrapper{
        flex: 1;
        margin-left: 20px;

        &:first-child{
            margin-left: 0;
        }

        input[type="text"], textarea, .dropdown{
            width: 100%;
        }
    }
}

@media(max-width: 990px){
    .input-group{
        flex-direction: column;
    
        .input-wrapper{
            width: 100%;
            margin-left: 0;
            margin-top: 15px;

            &:first-child{
                margin-top: 0;
            }
        }
    }
}