// Popups

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transition: $transition;
    transform: translate(-50%, -55%);
    padding: 20px;
    border-radius: 3px;
    box-shadow: $shadow-lg;
    width: 90%;
    background: $white;
    z-index: 100;
    max-height: 600px;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.med{
        max-width: 800px;
    }
    
    &.small{
        max-width: 400px;
    }

    &.open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate(-50%, -50%);
    }

    .popup-header{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 20px;
    
        .close-popup{
            cursor: pointer;

            svg{
                transition: $transition;
            }

            &:hover{
                svg{
                    stroke: $grey-4;
                }
            }
        }
    }

    .popup-body{
        margin-bottom: 20px;
    }

    .popup-actions{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    z-index: 99;
    cursor: pointer;
    transition: $transition;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.open{
        opacity: .5;
        visibility: visible;
        pointer-events: auto;
    }
}