//Radio Button

.radio {
    display: block;
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    font-weight: 400;
    margin: 0;

    &:hover{
        input ~ .radio-indicator {
            border-color: $grey-4;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked{
            
            &~ .radio-indicator {
                border-color: $blue;

                &:after {
                    display: block;
                    background: $blue;
                }
            }
        }
    }

    .radio-indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        border: 2px solid $grey-3;
        box-sizing: border-box;
        transition: $transition;

        &:after {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $grey-1;
            transition: $transition;
        }
    }
}