// Search Bar
.search-bar {
    display: flex;
    align-items: center;
    min-width: 300px;

    &:hover {
        input, .search-btn {
            background: $off-white;
            border-color: $grey-3;
        }
    }

    input {
        background: $grey-1;
        transition: $transition;
        border: 1px solid $grey-1;
        border-right: none;
        border-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px 10px 10px 15px;
        font-size: 16px;
        color: $black;
        border: 1px solid $grey-2;
        border-right: 1px solid transparent;
        outline: none;
        flex: 1;
        &:active,
        &:focus {
            background: $off-white;
            border-color: $grey-4;
        }
    }

    .search-btn {
        background: $grey-1;
        transition: $transition;
        border: 1px solid $grey-1;
        border-left: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        height: $buttonHeight;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid $grey-2;
        border-left: none;

        img, svg {
            width: 18px;
            height: 18px;
        }
    }
}