// Switch
.switch{
    cursor: pointer;
    display: inline-flex;

    .switch-bg{
        background: $grey-2;
        transition: $transition;
        border-radius: 50px;
        height: 20px;
        width: 35px;
        position: relative;
    
        .switch-handel{
            width: 16px;
            height: 16px;
            position: absolute;
            left: 2px;
            top: 2px;
            background: $white;
            border-radius: 50%;
            box-shadow: $shadow;
            transition: left 350ms $easing;
        }
    }

    .switch-label{
        margin-left: 10px;

        &.left{
            margin-left: 0;
            margin-right: 10px;
        }
    }
    
    &.active{
        .switch-bg{
            background: $green;
        }

        .switch-handel{
            left: 16px;
        }
    }
}