// Tags

.tag{
    border-radius: 3px;
    background: $off-white;
    // color: rgba($color: $black, $alpha: .7);
    color: rgba($color: $white, $alpha: 1);
    display: inline-flex;
    padding: 5px 10px;
    font-size: 14px;
}