// Textarea

textarea{
    background-color: $off-white;
    border: 1px solid $grey-2;
    transition: $transition;
    outline: none;
    padding: 10px 10px 10px 15px;
    border-radius: 3px;
    min-height: 100px;

    &::placeholder{
        color: $grey-3;
    }

    &:hover{
        background-color: $off-white;
        border-color: $grey-2;
    }

    &:active, &:focus{
        border-color: $grey-4;
        background-color: $off-white;
    }
}