// Toolbar
.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: $white;
    margin-bottom: 20px;
    border-radius: 3px;

    .toolbar-left, .toolbar-right {
        display: flex;
        align-items: center;
    }
}