//Fonts

p, div, input, textarea, h1, h2, h3, h4, h5, h6, select, option, ul, ol, li, a, button, form{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .3px;
    color: $black;
}

span, div{
    color: inherit;
}

p{
    line-height: 22px;
}

a{
    color: inherit;
    text-decoration: none;
    transition: color 300ms $easing;

    &:hover, &:active, &:focus{
        color: inherit;
        text-decoration: none;
    }
}
