// Primary Colors
$blue: #009eeb;
$hover-blue: #007dba;
$blue-2: #008dd1;
$green: #13ce66;
$hover-green: #0f9f4f;
$yellow: #ffc82c;
$hover-yellow: #f8b700;
$red: #ff5216;
$hover-red: #e23a00;

//Greys
$white: #fff;
$off-white: #f8fafa;
$grey-1: #f1f1f1;
$grey-2: #d8d8d8;
$grey-3: #a3a3a3;
$grey-4: #818181;
$black: #282828;

// Box Shadow

$shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.0008);
$shadow-lg: 0px 15px 30px rgba(0, 0, 0, 0.11), 0px 15px 5px rgba(0, 0, 0, 0.0008);
$no-shadow: none;

//Misc
$buttonHeight: 41px;
$transition: all 300ms cubic-bezier(.475,.425,0,.995);
$easing: cubic-bezier(.475,.425,0,.995);